body {
  background-color: #FFE5B4;
  font-family: 'Courier New', Courier, monospace;
}

#nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D97B29;
  padding: 10px 20px;
}

#logo {
  position: absolute;
  width: 80px;
  height: auto;
  left: 20px;
}

#nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nav li {
  margin: 0 1em;
}

#nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Oswald";
}

#nav a:hover {
  font-weight: 1000;
}

h2.home {
  font-size: 2em;
  color: #FFAB76;
  margin-left: 1.33em;
}

p.home {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 56.25em;
  margin-left: 2.18em;
    
}

h3.home {
  color: #FFAB76;
  margin-left: 2.35em;
}

#comp-parts {
  width: 85em;
  margin-left: 2.18em;
  margin: 0 auto;
  padding-left: 0;
  padding-bottom: 2em;
  list-style-position: inside;
  
}

#comp-parts li {
    font-size: 1.2em;
}

#comp-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 56.25em;
    margin-left: 2.18em;
    margin-bottom: 2em;
}

#comp-img img {
    max-width: 100%;
    height: auto;
}

.resume {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.resume ul {
    list-style-type: square; 
    margin-left: 1.5em; 
    padding-left: 0; 
  }
  
  .resume li {
    margin-bottom: 0.5em; 
  }


